<form name="form" class="pure-form pure-form-aligned" ng-submit="submit(form)">
    <fieldset>

		<div id="alerts">
			<div class="alert alert-{{alert.type}}" ng-repeat="alert in alerts">
				<a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="closeAlert(alert)">&times;</a>
				<strong>{{alert.title}}</strong> {{alert.content}}
			</div>
		</div>

		<nor-input
		 ng-repeat="field in content"
		 ngModel="data[field.name]"
		 label="field.label"
		 name="field.name"
		 type="field.type"
		 placeholder="field.placeholder"></nor-input>

        <div class="pure-controls">
            <button name="submit" type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
