<div class="nor-actions nor-view-actions" ng-if="!deleted">
	<nor-action ng-if="ngModel.$id !== type.content.defaultView" click="setAsDefaultView(type, ngModel)" title="Set view as default" icon="check-circle-o"></nor-action>
	<nor-action click="removeView(ngModel)" title="Remove view" icon="trash-o" dangerous-icon="trash" safety="enabled">Remove view {{ngModel.$name}}?</nor-action>
</div>
<div class="nor-view" ng-if="!deleted">

	<div class="pure-g">

		<div class="pure-u-1-6 nor-view-field nor-view-title">
			<div class="label"><i class="fa fa-leaf" aria-hidden="true"></i> Title</div>
			<div class="value" nor-editable-content="ngModel.title" on-commit="saveChanges(ngModel)">{{ngModel.title}}</div>
		</div>

		<div class="pure-u-1-12 nor-view-field nor-view-type">
			<div class="label"><i class="fa fa-tag" aria-hidden="true"></i> Type</div>
			<div class="value">view</div>
		</div>

		<div class="pure-u-1-6 nor-view-field nor-view-name">
			<div class="label"><i class="fa fa-key" aria-hidden="true"></i> Key</div>
			<div class="value" nor-editable-content="ngModel.$name" on-commit="saveChanges(ngModel)">{{ngModel.$name}}</div>
		</div>

		<div class="pure-u-7-12 nor-view-field nor-view-description">
			<div class="label"><i class="fa fa-comment-o" aria-hidden="true"></i> Description</div>
			<div class="value" nor-editable-content="ngModel.description" on-commit="saveChanges(ngModel)">{{ngModel.description}}</div>
		</div>

	</div>

	<div class="nor-view-editing-container">

		<div class="editing-disabled" ng-if="!editing">

			<div class="fields-enabled">
				<div class="field field-enabled"
				  ng-repeat="path in enabledFields"
				  ng-init="title = getTitleFromPath(type, path)"
				  >
					<span ng-if="title">{{title}}</span>
					<span ng-if="path !== title"><span ng-if="title">#</span>{{path}}</span>
				</div>

				<a href="#" class="enable-editing-link" ng-click="enableEditing()"><i class="fa fa-wrench" aria-hidden="true"></i></a>
			</div>

		</div>

		<div class="pure-g editing-enabled" ng-if="editing">

			<div class="pure-u-1-3 fields-container">
				<h4>Enabled Fields</h4>

				<div class="fields fields-enabled"
				  ui-sortable="enabledFieldsOptions"
				  ng-model="enabledFields">

					<div class="field field-enabled"
					  ng-repeat="path in enabledFields"
					  ng-init="title = getTitleFromPath(type, path)"
					  >
						<span ng-if="title">{{title}}</span><span ng-if="path !== title">
							<span ng-if="title">#</span>{{path}}</span>
						<div class="disable-field"><a href="#" ng-click="disableField(path)" class="times"><i class="fa fa-times" aria-hidden="true"></i></a></div>
					</div>

				</div>

			</div>

			<div class="pure-u-1-3 fields-container" >
				<h4>Available Fields</h4>

				<div class="fields fields-available"
				  ui-sortable="availableFieldsOptions"
				  ng-model="availableFields">

					<div class="field field-available"
					  ng-repeat="path in availableFields"
					  ng-if="enabledFields.indexOf(path) < 0"
					  ng-init="title = getTitleFromPath(type, path)">
						<span ng-if="title">{{title}}</span>
						<span ng-if="path !== title">
							<span ng-if="title">#</span>{{path}}
						</span>
					</div>

				</div>
			</div>

			<div class="pure-u-1-3 buttons-container">
			</div>

		</div>

	</div>

	<div class="publish-button-container" ng-if="editing">
		<button class="pure-button pure-button-primary"
		  ng-if="enabledFields.join(',') !== ( (ngModel && ngModel.content && ngModel.content.listFields) ||[]).join(',')"
		  ng-click="saveChanges(ngModel, enabledFields)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
	</div>

	<div class="nor-type-clone-view">
		<div ng-if="!show_clone_view_options">
			<button class="pure-button" ng-click="setCloneViewOptions(true)"><i class="fa fa-plus" aria-hidden="true"></i> Copy view as new</button>
		</div>
		<form ng-if="show_clone_view_options" class="nor-schema-clone-view-form pure-form" name="cloneView">
			<fieldset>
				<input type="text" name="newName" placeholder="Name" ng-model="new_view.$name"  required="">
				<button type="submit" class="pure-button pure-button-primary" ng-click="cloneNewView(new_view)">Add</button>
			</fieldset>
		</form>
	</div>

</div>


