html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

#content {
	padding-left: 10em;
	padding-right: 10em;
}

/* .nor-record */

#content .nor-record {
	border: 1px solid #f0f0f0;
}

#content .nor-record thead .key,
#content .nor-record thead .value {
	background-color: #d0d0d0;
}

#content .nor-record thead tr {
	border-bottom: 1px solid #d0d0d0;
}

#content .nor-record tbody tr {
	border-bottom: 1px solid #f0f0f0;
}

#content .nor-record .key {
	width: 20%;
	vertical-align: top;
	text-align: left;
	padding: 0.2em 0.4em;
	border-right: 1px solid #d0d0d0;
	background-color: #f6f6f6;
}

#content .nor-record .value {
	width: 80%;
	padding: 0.2em 0.4em;
	vertical-align: top;
}

#content .nor-schema {
	border: 2px solid #e0e0e0;
	background-color: #f0f0f0;
	margin: 1em 0 2em 0;
}

#content .nor-schema-property .nor-schema {
	margin: 0 0 2em 0;
}

#content .nor-schema .nor-schema-title {
	background-color: #f0ffff;
	border-right: 1px solid #e0e0e0;
	padding: 1em;
}

#content .nor-schema .nor-schema-type {
	background-color: #f0f0ff;
	border-right: 1px solid #e0e0e0;
	padding: 1em;
	text-align: center;
}

#content .nor-schema .nor-schema-name {
	background-color: #f0fff0;
	border-right: 1px solid #e0e0e0;
	padding: 1em;
	text-align: center;
}

#content .nor-schema .nor-schema-pattern {
	background-color: #fffff0;
	border-right: 1px solid #e0e0e0;
	padding: 1em;
	text-align: center;
}

#content .nor-schema .nor-schema-format {
	background-color: #f0f0ff;
	border-right: 1px solid #e0e0e0;
	padding: 1em;
	text-align: center;
}

#content .nor-schema .nor-schema-description {
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	background-color: #f0f0f0;
	padding: 1em;
}

#content .nor-schema .nor-schema-result-code {
	border-top: 1px solid #e0e0e0;
	background-color: #f0f0f0;
	padding: 1em;
}

#content .nor-schema .nor-schema-result-code .value {
	white-space: pre;
}

#content .nor-schema .nor-schema-field {
	position: relative;
}

#content .nor-schema .nor-schema-field .label {
	color: #909090;
	font-size: 0.75em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#content .nor-schema .nor-schema-field .label .collapse-link {
	float: right;
}

#content .nor-schema .nor-schema-field .value {
	width: 100%;
	margin-top: 1em;
}

#content .nor-schema .nor-schema-properties-container {
	padding: 1em;
	border-top: 1px solid #e0e0e0;
}

#content .nor-schema .nor-schema-items-container {
	padding: 1em;
	border-top: 1px solid #e0e0e0;
}

#content .nor-schema-object {
	background-color: #fcfcfc;
}

#content .nor-schema-object .actions {
	margin: 0;
	padding: 0;
	text-align: right;
	clear: both;
}

#content .nor-action {
	display: inline-block;
	margin-left: 0.5em;
}

#content .nor-action a:hover {
	font-weight: bold;
	color: #ff0000;
}

#content .nor-action .safety-off {
	font-weight: bold;
}

#content .nor-schema-additional-properties {
	margin: 0.5em 1.25em;
}

#content .nor-schema-additional-properties .undefined {
	color: #999999;
}

#content .nor-schema-array {
	background-color: #fcfcfc;
}

#content .nor-editable-value input {
	width: 90%;
}

#content .nor-editable-icon a {
	float:right;
	color: #909090;
	padding: 0 0.2em;
}

#content .nor-editable-icon a:hover {
	color: #337ab7;
	font-weight: bold;
}
