html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

#content {
	padding-left: 10em;
	padding-right: 10em;
}

/* .nor-record */

#content .nor-record {
	border: 1px solid #f0f0f0;
}

#content .nor-record thead .key,
#content .nor-record thead .value {
	background-color: #d0d0d0;
}

#content .nor-record thead tr {
	border-bottom: 1px solid #d0d0d0;
}

#content .nor-record tbody tr {
	border-bottom: 1px solid #f0f0f0;
}

#content .nor-record .key {
	width: 20%;
	vertical-align: top;
	text-align: left;
	padding: 0.2em 0.4em;
	border-right: 1px solid #d0d0d0;
	background-color: #f6f6f6;
}

#content .nor-record .value {
	width: 80%;
	padding: 0.2em 0.4em;
	vertical-align: top;
}

#content .nor-type .type-property {
	border: 1px solid #e0e0e0;
	background-color: #f0f0f0;
	margin: 1em;
}

#content .nor-type .type-property .type-property-name {
	background-color: #f0fff0;
	border-right: 1px solid #e0e0e0;
	padding: 1em;
	text-align: center;
}

#content .nor-type .type-property .type-property-type {
	background-color: #f0f0ff;
	border-right: 1px solid #e0e0e0;
	padding: 1em;
	text-align: center;
}

#content .nor-type .type-property .type-property-format {
	background-color: #f0ffff;
	padding: 1em;
}
