<div class="nor-table">

	<table>
    <thead>
    <tr>
        <th ng-repeat="path in paths" ng-init="title = getTitleFromPath(model.type, path)">{{title}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in model.content">
        <td ng-repeat="path in paths" ng-init="data = getDataFromPath(row, path); key = path.join('.')">
			<span ng-if="(key === '$name') || (key === '$id')"><nor-link link="row">{{data}}</nor-link></span>
			<span ng-if="!((key === '$name') || (key === '$id'))">{{data}}</span>
		</td>
    </tr>
    </tbody>
	</table>
</div>
