<div class="nor-table">
	<table>
    <thead>
    <tr>
        <th ng-repeat="cell in model.$columns">{{model.$labels[cell] || cell}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in model.content">
        <td ng-repeat="cell in model.$columns">
			<span ng-if="(cell === '$name') || (cell === '$id')"><nor-link link="row">{{row[cell]}}</nor-link></span>
			<span ng-if="!((cell === '$name') || (cell === '$id'))">{{row[cell]}}</span>
		</td>
    </tr>
    </tbody>
	</table>
</div>
