.nor-method {
	margin-bottom: 1em;
	border: 2px solid #e0e0e0;
	background-color: #f0f0f0;

	.nor-method-title {
		background-color: #f0ffff;
		border-right: 1px solid #e0e0e0;
		padding: 1em;
	}

	.nor-method-type {
		background-color: #f0f0ff;
		border-right: 1px solid #e0e0e0;
		padding: 1em;
		text-align: center;
	}

	.nor-method-name {
		background-color: #f0fff0;
		border-right: 1px solid #e0e0e0;
		padding: 1em;
		text-align: center;
	}

	.nor-method-description {
		border-top: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		background-color: #f0f0f0;
		padding: 1em;
	}

	.nor-method-result-code {
		border-top: 1px solid #e0e0e0;
		background-color: #f0f0f0;
		padding: 1em;

		.value {
			white-space: pre;
		}

	}

	.nor-method-field {
		position: relative;

		.label {
			color: #909090;
			font-size: 0.75em;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			.collapse-link {
				float: right;
			}

		}

		.value {
			width: 100%;
			margin-top: 1em;
		}

	}

	.nor-method-name-container {

		margin: 1em;
		border: 1px solid #e0e0e0;

		.nor-method-name-label {
			border-right: 1px solid #e0e0e0;
			text-align: right;
			padding-right: 1em;
			background-color: #fafafa;

			h3 {
				font-size: 1.25em;
				margin: 0;
				padding: 0;
			}
		}

		.nor-method-name {
			padding-left: 1em;
		}

	}

	.nor-method-body-container {
		margin: 1em;
	}

	.nor-method-body {
		/*height: 200px;*/
		/*height: auto !important;*/
	}

	.publish-button-container {
		margin: 0.5em 1em;
	}

}
