<div class="nor-method" ng-if="content.$active">

	<div class="actions">
		<nor-action click="unpublish(content)" title="Remove method" icon="trash-o" dangerous-icon="trash" safety="enabled">Remove method {{content.$name}}?</nor-action>
	</div>

	<div class="pure-g">

		<div class="pure-u-1-6 nor-method-field nor-method-title">
			<div class="label"><i class="fa fa-leaf" aria-hidden="true"></i> Title</div>
			<div class="value" nor-editable-content="content.title" on-commit="commit(content)">{{conent.title}}</div>
		</div>

		<div class="pure-u-1-6 nor-method-field nor-method-type">
			<div class="label"><i class="fa fa-tag" aria-hidden="true"></i> Type</div>
			<div class="value">method</div>
		</div>

		<div class="pure-u-1-6 nor-method-field nor-method-name">
			<div class="label"><i class="fa fa-key" aria-hidden="true"></i> Key</div>
			<div class="value" nor-editable-content="content.$name" on-commit="commit(content)">{{content.$name}}</div>
		</div>

		<div class="pure-u-1-2 nor-method-field nor-method-description">
			<div class="label"><i class="fa fa-comment-o" aria-hidden="true"></i> Description</div>
			<div class="value" nor-editable-content="content.description" on-commit="commit(content)">{{content.description}}</div>
		</div>

	</div>

	<div class="nor-method-body-container">
		<div class="nor-method-body" ng-model="body" ui-ace="bodyOptions" ng-style="{'height': ''+bodyHeight+'px'}"></div>
	</div>

	<div class="publish-button-container" ng-if="content.body != content.$body">
		<button ng-click="publish()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Publish changes</button>
	</div>

</div>
