/* norSchemaObject */

.nor-schema-object {

	.actions {
		margin: 0;
		padding: 0;
		text-align: right;
		clear: both;
	}

	.nor-schema-additional-properties {
		margin: 0.5em 1.25em;

		.undefined {
			color: #999999;
		}

	}

	.nor-schema-property .nor-schema {
		margin: 0 0 1em 0;
	}

}

.nor-schema-object.border-enabled {
	background-color: #fcfcfc;
	.nor-schema-properties-container {
		padding: 1em;
		border-top: 1px solid #e0e0e0;
	}
}
