<div class="nor-type">

	<div class="nor-type-name-container pure-g">
		<div class="nor-type-name-label pure-u-1-12"><h3>Name</h3></div>
		<div class="nor-type-name pure-u-11-12" nor-editable-content="content.$name" on-commit="commit(content)">{{content.$name}}</div>
	</div>

	<div class="nor-type-schema-container">
		<h3 class="title"><i class="fa fa-leaf" aria-hidden="true"></i> Properties</h3>
		<nor-schema-object root="content" enable-header="false" enable-source-code="false" enable-border="false" parent="content" key="'$schema'" value="content.$schema" on-commit="commit(content)"></nor-schema>
	</div>

	<div class="nor-type-methods-container">
		<h3 class="title"><i class="fa fa-terminal" aria-hidden="true"></i> Methods</h3>

		<div class="nor-type-method-container" ng-repeat="method in methods.content track by $index">
			<nor-method content="method"></nor-method>
		</div>

		<div class="nor-type-add-method">

			<div ng-if="!show_add_method_options">
				<button class="pure-button" ng-click="setAddMethodOptions(true)"><i class="fa fa-plus" aria-hidden="true"></i> Add method</button>
			</div>

			<form ng-if="show_add_method_options" class="nor-schema-add-method-form pure-form" name="addMethod">
				<fieldset>
					<input type="text" name="newName" placeholder="Name" ng-model="new_method.name"  required="">
					<button type="submit" class="pure-button pure-button-primary" ng-click="addNewMethod(new_method)">Add</button>
				</fieldset>
			</form>
	</div>

<div class="nor-type-views-container">
	<h3 class="title"><i class="fa fa-th-list" aria-hidden="true"></i> Views</h3>

	<div class="nor-type-view-container" ng-repeat="view in views.content track by $index">
		<nor-view type="model" ng-model="view"></nor-view>
	</div>

	<div class="nor-type-add-view">
		<div ng-if="!show_add_view_options">
			<button class="pure-button" ng-click="setAddViewOptions(true)"><i class="fa fa-plus" aria-hidden="true"></i> Add view</button>
		</div>

		<form ng-if="show_add_view_options" class="nor-schema-add-view-form pure-form" name="addView">
			<fieldset>
				<input type="text" name="newName" placeholder="Name" ng-model="new_view.$name"  required="">
				<button type="submit" class="pure-button pure-button-primary" ng-click="addNewView(new_view)">Add</button>
			</fieldset>
		</form>
	</div>

	<div class="nor-type-format-container">
		<h3 class="title"><i class="fa fa-code" aria-hidden="true"></i> Source Code</h3>
		<pre class="nor-type-format" pretty-json="content" edition="true" on-edit="commit(newJson)"></pre>
	</div>

</div>
