<!DOCTYPE html>
<html ng-app="norApp" lang="en" ng-controller="norCtrl">
<head>
  <meta charset="utf-8">
  <base href="/">
  <title class="ng-cloak">{{model.title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

	<nor-loader></nor-loader>
	<nor-header id="header" ng-model="model.$app"></nor-header>
	<nor-content id="content" ng-model="model"></nor-content>
	<nor-footer id="header" ng-model="model.$app"></nor-header>

	<!-- Scripts -->
	<script src="/_libs/ace/ace.js"></script>
	<script src="/vendor.bundle.js"></script>
	<script src="/app.bundle.js"></script>

</body>
</html>
