<div class="nor-action" ng-if="safety">
	<a href="#" title="{{title}}" ng-if="state === 'loading'" class="safety-on"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
	<a href="#" title="{{title}}" ng-if="state === true" ng-click="safetyOff()" class="safety-on"><i class="fa fa-{{icon}}" ng-if="icon" aria-hidden="true"></i></a>
	<a href="#" title="{{title}}" ng-if="state === false" ng-click="execute()" class="safety-off"><i class="fa fa-{{dangerousIcon}}" ng-if="dangerousIcon" aria-hidden="true"></i> <ng-transclude></ng-transclude></a>
</div>
<div class="nor-action" ng-if="!safety">
	<a href="#" title="{{title}}" ng-if="state === 'loading'" class="safety-on"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></a>
	<a href="#" title="{{title}}" ng-if="state !== 'loading'" ng-click="execute()" class="safety-off"><i class="fa fa-{{dangerousIcon}}" ng-if="dangerousIcon" aria-hidden="true"></i> <ng-transclude></ng-transclude></a>
</div>
