.nor-content {

	padding-left: 2em;
	padding-right: 2em;
	min-width: 100%;
	overflow: auto;

	.links-menu {
	    background-color: #c0e0e0;
		margin-bottom: 2em;
	}

	.links-menu li {
	    background-color: #e0f0f0;
		border-left: 0.25em solid #c0e0e0;
	}

}
